<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h1><%= @user.name %> さんとのチャット</h1>
            <% @user.chats.each do |chat| %>
                <%= chat.message %>
            <% end %>
            <%= form_with model: @chat do |f| %>
                <%= f.text_field :message %>
                <%= f.hidden_field :room_id %>
                <% f.submit %>
            <% end %>
        </div>
        
        <div class="col-md-8 offset-md-1", id="message-index">
            <%= render "chat_index", chat: @chats %>
        </div>
    </div>
</div>